<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> {% block title %} {% endblock title %} | Portfolio </title>
  <link rel="stylesheet" href="/static/stylesheet.css">
  <link rel="stylesheet" href="/static/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header>

    <nav class="navbar">

      <ul>
        <img src="/static/680.gif" class="logo-image">
        <li><a href="/">Home</a></li>
        <li><a href="/Resume">Resume</a></li>
        <li><a href="/Projects">Projects</a></li>
        <li><a href="/Contact">Contact</a></li>
        <div>
          <form method="get" action="/Search">
            <div class="container">
              <div class="row">
                <input type="text" placeholder="Search" name="query" id="query" />
                <button class="icon">
                  <i class="fa fa-search"></i>
                  <i class="fa fa-xmark"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </ul>

    </nav>

  </header>
  {% for message in messages %}
  <div class="alert" role="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Success !</strong> Your message has been sent successfully.
  </div>
  {% endfor %}

  {% block body %}
  {% endblock body %}

  

<footer class="footer">
  <div class="footer-container">
    <div class="footer-labels">
      <a href="mailto:27.shaishavsingh@gmail.com"><i
          class="fa fa-envelope"></i><span>27.shaishavsingh@gmail.com</span></a>
      <a href="https://www.linkedin.com/in/27-shaishavsingh/" target="_blank"> <i
          class="fa fa-linkedin"></i><span>https://www.linkedin.com/in/27-shaishavsingh/</span></a>
      <a href="tel:+917088587207"><i class="fa fa-phone"></i><span>+91 70885 87207</span></a>
      <a href="https://github.com/Singh-Shaishav " target="_blank"> <i
          class="fa fa-github"></i><span>https://github.com/Singh-Shaishav </span></a>
      
    </div>
    <div class="webdes">
      <p><b> Made using Django</b></p>
    </div>
  </div>
</footer>
</body>
</html>