{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block body %}

<section class="site-banner">
    <div class="cont1">
        <div class="row1">
            <div class="col-lg-6 col-md-12 site-title">
                <h3 class="title-text">Hi !!</h3>
                <h2 class="title-text text-uppercase">Nice to meet you</h2>
                <h1 class="title-text text-uppercase">I'm Shaishav Singh</h1>
                <p> Reliable and self-motivated professional with 1+ year experience. Seeking to start a career in the
                    IT sector in a flourishing organization to work alongside a diverse team with learning
                    opportunities. Proficient
                    in Python, Java , SQL, HTML &
                    CSS. Strong ability to
                    communicate with clients and ability to express ideas clearly and concisely.</p>
            </div>

        </div>
    </div>

    <div class="cont2">
        <div class="main-image">
            <img src="/static/4.png" alt="banner-img" class="img-fluid" height="300px" width="300px">
        </div>


        <div class="carrosel">

            <div class="caixa__card cc__1">Java</div>
            <div class="caixa__card cc__2">SQL</div>
            <div class="caixa__card cc__3">HTML</div>
            <div class="caixa__card cc__4">CSS</div>
            <div class="caixa__card cc__5">GIT</div>
            <div class="caixa__card cc__6">Github</div>
            <div class="caixa__card cc__7">Python</div>

        </div>

    </div>
</section>

{% endblock body %}