{% extends 'base.html' %}

{% block title %} Resume {% endblock title %}
{% block body %}
<section class="resume-container">

  <div class="resume-grid">
    <div class="resumecolumn1">
      <h6> < </h6>
          <img class="resume-image" src="/static/4.png" width="300px" height="300px">
          <h1 class="name"> Shaishav Singh </h1>
          <div class="Description">
            <h2> / All about me</h2>
            <h4> Reliable and self-motivated professional with 1+ year experience. Seeking to start a career in the IT
              sector in a flourishing organization to work alongside a diverse team with learning opportunities.
              Proficient
              in Python, Java , SQL, HTML &
              CSS. Strong ability to
              communicate with clients and ability to express ideas clearly and concisely.</h4>
          </div>
          <div class="download-link"><a href="/static/Shaishav-Resume.pdf" download> Download Resume&nbsp;<i
                class="fa fa-download" aria-hidden="true"></i></a></div>
          <div class="end-bracket">
            <h6> / > </h6>
          </div>

    </div>
    <div class="resumecolumn2">
      <div class="details">
        <h2> / Details </h2>
        <div class="address"><a><i class="fa fa-map-marker"></i><span>Adresss: H.no 154, Pant Vihar, I.T.C Road,
              Saharanpur, Uttar Pradesh, India</span></a>
          <div class="email"><a href="mailto:27.shaishavsingh@gmail.com"><i class="fa fa-envelope"></i><span>
                27.shaishavsingh@gmail.com</span></a></div>
          <div class="linkedin"><a href="https://www.linkedin.com/in/27-shaishavsingh/" target="_blank"> <i
                class="fa fa-linkedin"></i><span>https://www.linkedin.com/in/27-shaishavsingh/</span></a></div>
          <div class="mobilw"><a href="tel:+917088587207"><i class="fa fa-phone"></i><span>+91 70885 87207</span></a>
          </div>
          <div class="github"><a href="https://github.com/Singh-Shaishav " target="_blank"> <i
                class="fa fa-github"></i><span>https://github.com/Singh-Shaishav </span></a></div>
        </div>
      </div>
      <div class="Competencies">
        <h2>/ Competencies </h2>
        <ul>
          <li><b> Python </b></li>
          <li><b> Java </b></li>
          <li><b> SQL </b></li>
          <li><b> Django / Flask </b></li>
          <li><b> HTML</b></li>
          <li><b> CSS </b></li>
          <li><b> Git / Github </b></li>
          <li><b> Microsoft Excel </b></li>
          <li><b> Microsoft office </b></li>
        </ul>
      </div>
      <div class="work-experience">
        <h2>/ Work Experience</h2>
        <div class="work">
          <h3><i class="fa fa-briefcase"></i><span> G.I.S Engineer - JBLGEO Technologies Pvt. Ltd.</span> </h3>
          <ul>
            <li>Create maps and graphs, using GIS software and data collection equipment.</li>
            <li>Perform research to obtain and expand existing datasets. QA/QC GIS data for several projects.</li>
            <li>Analyzing spatial data to prepare reports, dashboards, and presentations. Preparing GIS datasets,
              Maps, and database reports, and supporting various projects.</li>
            <li>Have successfully completed 3 projects from scratch to shipment. </li>
          </ul>
        </div>
      </div>
      <div class="education">
        <h2>/ Education</h2>
        <ul>
          <li><b> Dr. APJ Abdul Kalam Technical University</b><br> Bachelor of Technology | 2017- 2021</li>
          <li><b> Central Board of Secondary Education</b><br> Class XII | 2017</li>
          <li><b> Central Board of Secondary Education</b><br> Class X | 2014</li>
        </ul>
      </div>
      <div class="certifications">
        <h2>/ Certifications</h2>
        <ul>
          <li><a href="https://ude.my/UC-20598b5c-8f64-4746-811f-fae349571111" target="_blank"><b>The Python Mega Course
                - Build 10 Real World Applications</b><br> Aug 2022 - Sep 2022</a></li>
          <li><a href="https://ude.my/UC-2d9ed3be-b7e3-420b-9114-1e40e7c1eba7" target="_blank"><b>Complete SQL and
                Databases Bootcamp: Zero to Mastery [2022]</b><br> Sep 2022 - Oct 2022</a></li>
          <li><b>Java Programming Masterclass covering Java 11 & Java 17</b><br> Oct 2022 - present </li>
        </ul>

      </div>
    </div>
  </div>
</section>

{% endblock body %}